:root {
    --bluehue: repeating-linear-gradient(-45deg, cyan 0%, blue, magenta, cyan 50%);
}

.thebody {
    font-family: system-ui;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 25px;
    position: absolute;
}

#bodyt {
    background: var(--bluehue);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    /* leave for compatibility */
    -webkit-background-clip: text;
    background-clip: text;
    animation: slide 10s linear infinite forwards;
}


/*@keyframes is a CSS rule, it defines styles for keyframes along the animation sequence*/

@keyframes slide {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 600vw;
    }
}