.tutto {
    font-family: system-ui;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 25px;
    position: absolute;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-discord {
    background: chartreuse;
    color: white;
}